---
import LocationBadge from "$lib/components/LocationBadge.astro";
---

<header class="mx-auto flex max-w-[1440px] justify-center px-6 py-36">
	<div class="grid w-full grid-cols-1 gap-16 lg:grid-cols-12">
		<div
			class="mx-auto flex max-w-xl flex-col justify-center space-y-8 lg:col-start-1 lg:col-end-7"
		>
			<LocationBadge />
			<h1 class="text-6xl font-bold">
				Grand River Center Mosque: Connecting Hearts, Nurturing Souls
			</h1>
			<p class="text-[#6B7280]">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua.
			</p>
			<div class="flex flex-row items-center space-x-2">
				<a
					class="w-[150px] rounded-lg bg-[#256B84] p-4 text-center text-lg font-bold text-white transition-all hover:bg-[#256]"
					href="/donate"
				>
					Donate Now
				</a>
			</div>
		</div>
		<div class="w-full lg:col-start-7 lg:col-end-12">
			<img
				class="h-full w-full rounded-lg"
				src="/header-image-2.svg"
				height={250}
				width={300}
				alt="hero-image"
			/>
		</div>
	</div>
</header>
