---
import Base from "$lib/layouts/Base.astro";

console.log("something");
---

<Base>
	<main class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
		<div>
			<h1 class="mb-2 text-center text-2xl font-bold md:text-3xl lg:text-4xl">Gric News</h1>
			<p class="text-center text-lg text-gray-500 md:text-xl">
				Stay up to date on the latest news from Gric
			</p>
		</div>
		<section class="grid grid-cols-2 md:grid-cols-3"></section>
	</main>
</Base>
