---
import Location from "./icons/Location.astro";
---

<div class="flex w-fit flex-row items-center space-x-2 rounded-md bg-[#256B84]/30 p-2">
	<Location />
	<p>Grand River Islamic Centre</p>
</div>
