---
import Location from "./icons/Location.astro"
---

<div class="flex flex-row w-fit items-center space-x-2 bg-[#256B84]/20 p-2 rounded-md">
  <Location />
  <p>Grand River Islamic Centre</p>
</div>
